<!--<div data-page="error" class="page cached toolbar-fixed">-->
<!-- begin navbar-->
<div class="navbar">
	<fubon-header></fubon-header>
</div>
<!-- end navbar-->
<!-- begin toolbar-->
<div class="toolbar toolbar-bottom">
	<div class="toolbar toolbar-bottom footer">
		<fubon-footer></fubon-footer>
	</div>
</div>
<!-- end toolbar-->
<!-- begin page content -->
<div class="page-content">
	<div class="content-block">
		<div class="row list-block">
			<div class="col-15"></div>
			<div class="col-70">
				<div class="error-box">
					<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#E58590; font-size:140px;"></i>
				</div>
				<div ng-transclude></div>
			</div>
			<div class="col-15"></div>
		</div>
	</div>
</div>
<!-- end page content -->
<!--</div>-->