<fubon-qa block-page="index"></fubon-qa>
<!-- begin navbar-->
<div class="navbar">
    <fubon-header></fubon-header>
</div>
<!-- end navbar-->
<!-- begin toolbar-->
<div class="toolbar toolbar-bottom">
    <div class="toolbar toolbar-bottom footer">
        <fubon-footer></fubon-footer>
    </div>
</div>
<!-- end toolbar-->
<!-- begin page content -->
<div class="page-content">
    <div class="content-block">
        <div class="row">
            <div class="col-100">
                <div class="item-input louis">
                    <div class="row col-100 file">
                        拍照
                        <input type="file" id="take-picture" class="" accept="image/*">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->