.premium {
    color: #fff;
    background: #333;
}

.premiumNote {
    color: red;
    margin: auto;
    text-align: center;
}

.premiumButton {
    display: block;
    position: absolute;
    right: 0;
}

