$headerfz:18px;

/*$fz: 16px;*/

.qatitle {
    font-size: $headerfz;
    color: #12937f;
}

.qaq {
    font-size: $headerfz;
    color: #2A376A;
    letter-spacing: 1px;
    text-indent: -1.9em;
    padding-left: 2em;
}

.qaa {
    font-size: $fz;
    letter-spacing: 2px;
}

.qabackground {
    background-color: #E9F4F8;
}